assignments/assign1/submission.aux
assignments/assign1/submission.fdb_latexmk
assignments/assign1/submission.fls
assignments/assign1/submission.log
assignments/assign1/submission.out
assignments/assign1/submission.synctex.gz
assignments/assign1/submission.toc
assignments/assign1/submission.pdf